# https://pypi.org/project/flask/
Flask==2.0.2

# https://pypi.org/project/gunicorn/
gunicorn==20.1.0


TensorFlowTTS==0.11
gradio==1.4.3
numpy==1.18.5
SoundFile
git+https://github.com/repodiac/german_transliterate
tensorflow-cpu==2.3.1

